input, select, textarea {
    border-radius: 4px;
    border: 1px solid var(--cor-cinza-claro);
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}

.acoes {
    text-align: center;
    margin: 5px 0;
}

input[type="checkbox"], input[type="radio"] {
    width: initial;
}